/*导入自定义字体*/
@font-face{
    font-family: '方正粗圆';
    src: url('../font/FZCY.ttf'),
    url('../font/FZCY.eot');
}
@font-face {
    font-family: 'Sweel';
    src: url('../font/sweel.ttf'),
    url('../font/sweel.eot');
}
@font-face {
    font-family: 'AW';
    src: url('../font/AW.ttf'),
    url('../font/AW.eot');
}
/*页面宽度大于960个像素选择这个样式*/
@media screen and (min-width: 960px){
    /*全局应用样式*/
    *{
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-style: normal;
        color: black;
        font-family: "方正粗圆","Arial", "Microsoft YaHei", "黑体","宋体",sans-serif;
    }
    /*给body换个色,加个鼠标样式*/
    body{
        cursor: url(../Mouse/Arrow.png),auto;
        background-color: rgb(255, 255, 255);
    }
    a{
        cursor: url(../Mouse/Hand.png),auto;
    }
    .head{
        width: 300px;
        height: auto;
        margin: 0 auto;
        text-align: center;
        line-height: 30px;
        margin-top: 60px;
    }
    .tx{
        background: url(../img/tx.jpg);
        border-radius: 90px;
        width: 90px;
    }
    .head span{
        font-size: 32px;
        font-weight: normal;
        text-align: center;
    }
    .tittt{
        font-size: 32px;
        font-weight: normal;
        text-align: center;
        color: black;
    }
    .line{
        font-size: 32px;
        font-weight: normal;
        border-bottom: 5px solid orange;
        text-align: center;
        color: black;
    }
    .time{
        padding-top: 20px;
    }
    .timetxt{
        padding-left: 80px;
        color: black;
    }
    .time span{
        font-size: 18px;
        font-weight: normal;
    }
    .oneY{
        font-size: 18px;
        padding-right: 100px;
        float: right;
        text-align: right;
        color: black;
    }
    .DH{
        padding-top: 70px;
        margin: 0 auto;
    }
    .DHF{
        padding-top: 300px;
        margin: 0 auto;
    }
    .DHfive{
        margin: 0 auto;
    }
    .DH ul{
        list-style: none;
        width: 900px;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
        font-size: 0;
    }
    .DH ul li{
        width: 16%;
        display: inline-block;
    }
    .DHF ul{
        list-style: none;
        width: 900px;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
        font-size: 0;
    }
    .DHF ul li{
        width: 16%;
        display: inline-block;
    }
    .A1{
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 5px 0px;
        color:orange;
        text-decoration: none;
        border-bottom: 3px solid orange;
        font-weight: normal;
        font-size: 28px;
    }
    .A2{
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 5px 0px;
        color: black;
        font-size: 28px;
        text-decoration: none;
        border-bottom: 3px solid black;
        font-weight: normal;    
    }
    .A2:hover{
        border-bottom: 3px solid rgb(57, 192, 255);
        color: rgb(57, 192, 255);
    }
    .body{
        width: 900px;
        height: auto;
        margin: 0 auto;
        margin-top: 100px;
    }
    .bodyTOfive{
        margin: 0 auto;
        margin-top: 100px;
        display: flex;
    }
    .bodyhead{
        width: 906px;
        height: auto;
        margin: 10px auto 50px;
        background-color: rgb(245, 245, 245);
        border-radius: 15px;
    }
    .bodyheaimg{
        float: right;
        position: relative;
    }
    .bodyheaimg img{
        height: 130px;
        border-radius:0 15px 15px 0;
    }
    .bodyheaimg div{
        width: 130px;
        height: 130px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius:0 15px 15px 0;
        background: -webkit-linear-gradient(left,rgb(245, 245, 245),rgba(245, 245, 245, 0));
        background: -o-linear-gradient(right,rgb(245, 245, 245),rgba(245, 245, 245, 0));
        background: -moz-linear-gradient(right,rgb(245, 245, 245),rgba(245, 245, 245, 0));
        background: linear-gradient(to right,rgb(245, 245, 245),rgba(245, 245, 245, 0));
    }
    .bodyheadtxt{
        display: inline-block;
        line-height: 65px;
        margin-left: 30px;
        width: 80%;
    }
    .bodyheadtxt p{
        font-size: 20px;
    }
    .bodyheadtxt span{
        font-size: 20px;
    }
    .bodyheadtxtfive{
        text-align: right;
        float: right;
    }
    .bodytxt{
        background-color: rgba(255, 255, 255);
        width: 1070px;
        height: auto;
        border-radius: 10px;
        padding: 50px;
        display: inline-block;
        box-sizing: border-box;
        border: 2px solid orange;
        margin: auto;
    }
    .bodytxtTOp{
        font-size: 32px;
        font-weight: normal;
        text-align: center;
        color: black;
    }
    .player{
        width: 30%;
        height: 250px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        position: relative;
        display: inline-block;
        left: 0;
        bottom: 0;
        padding: 40px;
        border: 2px solid orange;
    }			
    
    .voice{
        text-align:center;
        margin-top: 20px;
    }
    .music{
        text-align:center;
    }
    .syis{
        width: 50px; 
        height: 50px;
        border-radius: 90px;
        border: none;
    }
    .BF{
        width: 50px; 
        height: 50px;
        border-radius: 90px;
        border: none;
    }
    .xyis{
        width: 50px; 
        height: 50px;
        border-radius: 90px;
        border: none;
    }
    .buttons button img{
        width: 50px;
        height: auto;
    }
    .buttons{
        margin-top: 30px;
    }
    .musicName{
        font-size: 20px;
        font-weight: normal;
        margin-top: 20px;
    }
    .IndexTOp{
        font-size: 32px;
        font-weight: normal;
        text-align: center;
        color: rgb(0, 0, 0);
    }
    .IndexTOdiv{
        text-align: center;
        margin: 30px;
    }
    .Indexbodytxt{
        background-color: rgba(255,255, 255, 0.5);
        width: 100%;
        height: auto;
        border-radius: 20px;
        padding: 50px;
        text-align: center;
        box-sizing: border-box;
        border: 2px solid orange;
    }
    .IndexTOpfor2{
        font-size: 26px;
        font-weight: normal;
        text-align: center;
        color: rgb(0, 0, 0);
    }
    .musicCD{
        width: 90px;
        height: auto;
    }
    .musicButton{
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }
    .musicVolume{
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .musicTitle{
        font-family: "Arial", "Microsoft YaHei", "黑体","宋体",sans-serif;
        color: rgb(0, 0, 0);
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .calendar{
        width: 50%;
        height: 285px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        padding: 25px;
        float: right;
        box-shadow:0px 1px 1px rgba(0,0,0,0.1);
        border: 2px solid orange;
    
    }
    .TOOLSDIV{
        margin-top: 30px;
        width: 100%;
        height: 340px;
    }
    
    .body-list ul{
        width:380px;
        font-family:arial;
        font-weight:normal;
        font-size:14px;
    }
    .body-list ul li{
        width:54px;
        height:36px;
        line-height:36px;
        list-style-type:none;
        display:block;
        box-sizing:border-box;
        float:left;
        text-align:center;
    }
    .lightgrey{
        color:#a8a8a8;
    }
    .darkgrey{
        color:#565656;
    }
    .orange{
        color: orange;
    }
    .orangebox{
        border:1px solid orange;
        background:#fff6de;
    }
    .calendarDays{
        width: auto;
        height: auto;
    }
    .tail{
        width: 100%;
        height: 93px;
        margin: 0 auto;
        margin-top: 100px;
        background-color: rgba(255, 255, 255, 0.5);
        text-align: center;
        border-top: 5px solid orange;
        position: relative;
        bottom: 0;
        z-index: -2;
    }
    .tailf{
        width: 100%;
        height: 93px;
        margin: 0 auto;
        margin-top: 75px;
        background-color: rgba(255, 255, 255, 0.5);
        text-align: center;
        border-top: 5px solid orange;
        position: relative;
        bottom: 0;
        z-index: -2;
    }
    .tailImgR{
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    .tailImgL{
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    .DLtxt{
        font-weight: normal;
        font-size: 16px;
        color: black;
    }
    .DLNet{
        font-weight: normal;
        font-size: 18px;
        color: black;
        line-height: 65px;
    }
    .GHJCImg{
        width: 200px;
        height: 200px;
        float: left;
        border: 5px solid rgb(124, 124, 124);
        border-radius: 15px;
        margin-right: 100px;
        margin-top: 5px;
    }
    .GHJCTITLE{
        font-weight: normal;
        font-size: 30px;
        color: black;
        text-decoration: none;
        padding-top: 60px;
    }
    .GHJCTITLE:hover{
        color: rgb(57, 192, 255);
    }
    .GHJCTITLEPE{
        display: none;
    }
    .GHJCPN{
        width: 40px;
        height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 5px;
        line-height: 250%;
        position: relative;
        margin-right: 20px;
    }
    .GHJCPNin{
        width: 40px;
        height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 5px;
        line-height: 250%;
        position: relative;
        margin-right: 20px;
    }
    .GHJCPN a{
        display: block;
        font-size: 20px;
        width: 40px;
        height: 40px;
        text-decoration: none;
        border-radius: 5px;
        color: rgb(255, 255, 255);
        background-color: orange;
    }
    .GHJCPNin a{
        display: block;
        font-size: 20px;
        width: 40px;
        height: 40px;
        text-decoration: none;
        border-radius: 5px;
        color: rgb(255, 255, 255);
        background-color: orange;
    }
    .GHJCPNline{
        width: 20px;
        height: 5px;
        position: absolute;
        top: 0;
        left: 10px;
        border-radius: 25px;
        background-color: rgb(255, 207, 118);
    }
    .GHJCPN a:hover{
        background-color: rgb(57, 192, 255);

    }
    .GHJCPND{
        text-align: center;
        width: auto;
        margin: 20px auto 0;
    }
    .GHJCTXT{
        font-weight: normal;
        font-size: 26px;
        color: black;
    }
    .GHJCTEXT{
        width: auto;
        height: auto;
        margin: 30px;
        padding: 10px;
        border: 2px solid black;
        border-radius: 15px;
    }
    .ghjcttletxt{
        padding-top: 60px;
        line-height: 80px;
    }
    .headbaxkground{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 210px;
        background-color: black;
    }
    .headbaxkgroundtit{
        position: absolute;
        display: inline-block;
        margin: auto;
        top: 20%;
        right: 0;
        left: 0;
        bottom: 0;
        font-size: 65px;
        color: white;
        text-align: center;
        z-index: 2;
        font-family: 'Sweel';
        text-align: center;
    }
    .headbaxkgroundp{
        position: absolute;
        display: block;
        text-align: center;
        margin: auto;
        top: 60%;
        right: 0;
        left: 0;
        bottom: 0;
        font-size: 13px;
        color: white;
        text-align: center;
        z-index: 2;
        font-family: 'AW';
    }
    .headbaxkground canvas{
        height: 210px;
        width: 100%;
        z-index: -2;
    }
    .headboxst{
        position: absolute;
        bottom: 0;
        height: 15px;
        width: 100%;
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0),black);
        background: -moz-linear-gradient(rgba(0, 0, 0, 0),black);
        background: -o-linear-gradient(rgba(0, 0, 0, 0),black);
        background: linear-gradient(rgba(0, 0, 0, 0),black);
        z-index: 2;
    }
    .DGR{
        position: absolute;
        right: 0;
        top: 0;
        width: 240px;
    }
    .DGL{
        position: absolute;
        left: 0;
        top: 0;
        width: 240px;
    }
    .hk416gif{
        width: 8%;
        border-radius: 25px;
        border: 2px solid rgb(0, 0, 0);
        float: left;
        position: fixed;
        margin-top: 350px;
        margin-left: 40px;
        z-index: -1;
    }
    @media screen and (max-width: 1465px){
        .hk416gif{
            display: none;
        }
        .G11andLiGIF{
            display: none;
        }
    }
    .G11andLiGIF{
        width: 10%;
        border-radius: 25px;
        border: 2px solid rgb(0, 0, 0);
        float: left;
        position: fixed;
        margin-top: 350px;
        margin-left: 40px;
        z-index: -1;
    }
    @media screen and (max-width: 1420px){
        .gamesuiGIF{
            display: none;
        }
    }
    .gamesuiGIF{
        width: 8%;
        border-radius: 25px;
        border: 2px solid rgb(0, 0, 0);
        float: left;
        position: fixed;
        margin-top: 350px;
        margin-left: 40px;
        z-index: -1;
    }
    .RJTJlookher{
        font-size: 16px;
        line-height: 30px;
        margin-left: 35px;
    }
    .RJTJlookher img{
        width: 20px;
        display: inline-block;
        vertical-align: middle;
    }
    .RJTJlookherinput{
        width: 45px;
        height: 20px;
        border-radius: 0 5px 5px 0;
        text-align: center;
        background-color: rgb(240, 240, 240);
        border-left: 5px solid rgb(0, 255, 0);
        border-bottom: none;
        border-right: none;
        border-top: none;
    }
    .RJTJlookherinputNULL{
        width: 45px;
        height: 20px;
        border-radius: 0 5px 5px 0;
        text-align: center;
        background-color: rgb(240, 240, 240);
        border-left: 5px solid rgb(255, 0, 0);
        border-bottom: none;
        border-right: none;
        border-top: none;
    }
    .RJTJimg{
        width: 200px;
        float: left;
        margin-right: 30px;
        border-radius: 25px;
        border: 2px solid black;
    }
    .RJTJtitle{
        text-align: center;
        font-size: 36px;
        padding-top: 10px;
    }
    .RJTJtxt{
        font-weight: normal;
        font-size: 26px;
        text-indent: 2em;
        color: black;
        padding-top: 20px;
    }
    .RJTJTEXT{
        padding: 10px;
        border: 2px solid black;
        margin: 30px;
        height: 300px;
        border-radius: 15px;
        position: relative;
    
    }
    .RJTJminidox{
        width: 35px;
        position: relative;
        top: 12px;
        left: 0;
    }
    .RJTJa{
        font-weight: normal;
        font-size: 28px;
        text-decoration: none;
        color: rgb(16, 196, 0);
        margin-right: 60px;
    }
    .RJTJa:hover{
        color: orange;
    }
    .RJTJTXTD{
        line-height: 36px;
    }
    .RJTJinput{
        width: 60px;
        height: 20px;
        border-radius: 0 5px 5px 0;
        text-align: center;
        margin-right: 75px;
        margin-left: 5px;
        margin-top: 10px;
        background-color: rgb(240, 240, 240);
        border-left: 5px solid rgb(0, 255, 0);
        border-bottom: none;
        border-right: none;
        border-top: none;
    }
    .RJTJinputNULL{
        width: 60px;
        height: 20px;
        border-radius: 0 5px 5px 0;
        text-align: center;
        margin-right: 75px;
        margin-left: 5px;
        margin-top: 10px;
        background-color: rgb(240, 240, 240);
        border-left: 5px solid rgb(255, 0, 0);
        border-bottom: none;
        border-right: none;
        border-top: none;
    }
    .RJTJhttps{
        width: auto;
        height: auto;
        position: absolute;
        right: 0px;
        bottom: 0px;
        margin-bottom: 30px;
    }
    .CYWZimg1{
        width: 900px;
        height: 300px;
        border-radius: 10px;
        background: url(../img/bigjpg.png);
        margin: 0 auto;
        border: 2px solid black;
        margin-bottom: 120px;
    }
    .CYWZimg2{
        width: 900px;
        height: 300px;
        border-radius: 10px;
        background: url(../img/bilibli.png);
        margin: 0 auto;
        border: 2px solid black;
        margin-bottom: 120px;
    }
    .CYWZimg3{
        width: 900px;
        height: 300px;
        border-radius: 10px;
        background: url(../img/kuan.png);
        margin: 0 auto;
        border: 2px solid black;
        margin-bottom: 120px;
    }
    .CYWZimg4{
        width: 900px;
        height: 300px;
        border-radius: 10px;
        background: url(../img/cainiao.png);
        margin: 0 auto;
        border: 2px solid black;
        margin-bottom: 120px;
    }
    .CYWZimg5{
        width: 900px;
        height: 300px;
        border-radius: 10px;
        background: url(../img/cndn.png);
        margin: 0 auto;
        border: 2px solid black;
        margin-bottom: 120px;
    }
    .CYWZimg6{
        width: 900px;
        height: 300px;
        border-radius: 10px;
        background: url(../img/github.png);
        margin: 0 auto;
        border: 2px solid black;
    }
    .CYWZimg7{
        width: 900px;
        height: 300px;
        border-radius: 10px;
        background: url(../img/gitee.png);
        margin: 0 auto;
        border: 2px solid black;
        margin-bottom: 120px;
    }
    .CYWZimg8{
        width: 900px;
        height: 300px;
        border-radius: 10px;
        background: url(../img/transfonter.png);
        margin: 0 auto;
        border: 2px solid black;
        margin-bottom: 120px;
    }
    .CYWZimg9{
        width: 900px;
        height: 300px;
        border-radius: 10px;
        background: url(../img/wormhole.png);
        margin: 0 auto;
        border: 2px solid black;
        margin-bottom: 120px;
    }
    .CYWZimg10{
        width: 900px;
        height: 300px;
        border-radius: 10px;
        background: url(../img/removebg.png);
        margin: 0 auto;
        border: 2px solid black;
        margin-bottom: 120px;
    }
    .CYWZimg11{
        width: 900px;
        height: 300px;
        border-radius: 10px;
        background: url(../img/photopea.png);
        margin: 0 auto;
        border: 2px solid black;
        margin-bottom: 120px;
    }
    .CYWZimg12{
        width: 900px;
        height: 300px;
        border-radius: 10px;
        background: url(../img/ensan.png);
        margin: 0 auto;
        border: 2px solid black;
    }
    .CYWZtext{
        background: rgba(255, 255, 255, 0.85) ;
        margin: 0 auto;
        border-radius: 10px;
        height: 300px;
        width: 400px;
        float: right;
    }
    .CYWZtxt{
        color: black;
        font-size: 38px;
        font-weight: normal;
        text-align: center;
    }
    .CYWZApeD{
        display: none;
    }
    .CYWZTXTDIV{
        width: 325px;
        height: 300px;
        padding: 30px;
        margin-right: 30px;
        float: right;
        position: relative;
    }
    .CYWZtxtt{
        color: black;
        font-size: 22px;
        font-weight: normal;
        text-indent: 2em;
        margin-left: 30px;
    
    }
    .CYWZA{
        position: absolute;
        right: 0px;
        bottom: 80px;
    }
    .CYWZA a{
        font-weight: normal;
        font-size: 46px;
        text-decoration: none;
        color: orange;
    }
    .CYWZA a:hover{
        color: rgb(57, 192, 255);
    }
    .ZD{
        float: right;
        position: fixed;
        right: 100px;
        bottom: 20%;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        opacity: 0;
        z-index: 95;
        border-radius: 10px;
        width: 90px;
        height: 138.45px;
        cursor: url(../Mouse/UpArrow.png),auto;
    }
    .ZD a img{
        width: 90px;
        z-index: 98;
    }
    /*这两个是动画*/
    @keyframes ani1{
        0%{
            opacity: 1;
            transform:rotateX(-90deg);
        }
        50%{transform:rotateX(25deg);}
        100%{
             opacity: 1;
            transform:rotateX(0deg);
            }
    }
    @keyframes ani2{
        0%{
            opacity: 1;
            transform:rotateX(-20deg);
        }
        100%{
             opacity: 0;
            transform: skewX(0deg);
            }
    }
    .ZD a{
        cursor: url(../Mouse/UpArrow.png),auto;
        padding: 15px 0px 0px 15px;
        width: 100%;
        height: 100%;
        color: white;
        text-decoration: none;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .ZD a:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }
    .YXTJlookher{
        font-size: 20px;
        line-height: 30px;
        margin-left: 35px;
        margin-bottom: 30px;
    }
    .YXTJTEXT{
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 90px;
        display: block;
        position: relative;
    }
    .YXTJTEXTbt{
        border-radius: 10px;
        margin: 0 auto;
        display: block;
        position: relative;
    }
    .YXTJimg1{
        width: 960px;
        height: 540px;
        border-radius: 10px;
        background-image: url(../img/qj2.png);
        margin: 0 auto;
        position: relative;
    }
    .YXTJimg2{
        width: 960px;
        height: 540px;
        border-radius: 10px;
        background-image: url(../img/l4d2.png);
        margin: 0 auto;
        position: relative;
    }
    .YXTJimg3{
        width: 960px;
        height: 540px;
        border-radius: 10px;
        background-image: url(../img/TLRY.png);
        margin: 0 auto;
        position: relative;
    }
    .YXTJimg4{
        width: 960px;
        height: 540px;
        border-radius: 10px;
        background-image: url(../img/DYING\ LIGHT.png);
        margin: 0 auto;
        position: relative;
    }
    .YXTJimg5{
        width: 960px;
        height: 540px;
        border-radius: 10px;
        background-image: url(../img/GTAV.png);
        margin: 0 auto;
        position: relative;
    }
    .YXTJimg6{
        width: 960px;
        height: 540px;
        border-radius: 10px;
        background-image: url(../img/wzzd3.png);
        margin: 0 auto;
        position: relative;
    }
    .YXTJtxtD{
        background: rgba(255, 255, 255, 0.7) ;
        margin: 0 auto;
        border-radius: 0 10px 10px 10px;
        width: 960px;
        height: 200px;
        position: absolute;
        bottom: 0;
        left: 3px;
    }
    .YXTJtitleD{
        background: rgba(255, 255, 255, 0.7) ;
        margin: 0 auto;
        border-radius: 0 10px 0 0;
        width: 400px;
        height: 100px;
        position: absolute;
        bottom: 200px;
        left: 3px;
    }
    .YXTJtitle{
        font-size: 36px;
        font-weight: normal;
        text-align: center;
        color: black;
        line-height: 100px;
    }
    .YXTJline{
        border: 2px solid orange;
        width: 350px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        margin: 0 auto;
    }
    .YXTJtxt{
        text-indent: 2em;
        font-size: 24px;
        font-weight: normal;
        margin-left: 30px;
        margin-right: 30px;
        color: black;
    }
    .YXTJtxtfive{
        margin-top: 40px;
    }
    .GYgifD{
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
    }
    .GYgif{
        border-radius: 15px;
        border: 3px solid black;
    }
    .GYbodyTOfive{
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
    }
    .GYyedeLY{
        margin: 40px auto 40px;
        position: relative;
    }
    .GYtxtH1{
        font-weight: normal;
        font-size: 38px;
        width: 330px;
        height: 50px;
        text-align: center;
        color: black;
        display: block;
        position: absolute;
        margin: 0 auto 0;
        top: -25px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        line-height: 50px;
        font-family: 'AW';
        font-weight: bolder;
    }
    .GYtxtH2{
        border: 2px solid black;
        font-weight: normal;
        font-size: 20px;
        color: black;
        text-align: center;
        z-index: -1;
        padding-top: 30px;
    }
    .GYTEXT{
        line-height: 100px;
    }
    .GYimg1{
        border-radius: 25px;
    }
    .GYtxtbz{
        font-size: 20px;
        color: black;
        font-weight: normal;
        text-align: center;
    }
    .GYimgYEDiv{
        float: right;
        margin-top: 100px;
    }
    .GYswsanbai{
        width: 95%;
        margin: 0 auto;
        height: 700px;
    }
    .GYmeull{
        width: 400px;
        height: 35px;
        background-color: rgb(240, 240, 240);
        font-size: 18px;
        font-weight: normal;
        color: black;
        border: none;
        border-left: 5px solid rgb(0, 255, 0);
        border-radius: 0 10px 10px 0;
        text-align: center;
    }
    .GYemmeD{
        margin-top: 30px;
        float: left;
    }
    .GYgif2{
        width: 400px;
        border-radius: 10px;
        text-align: center;
    }
    .GYgdzgsp1{
        font-weight: normal;
        font-size: 28px;
        color: black;
    }
    .GYtxtlD{
        float: left;
        text-align: left;
        line-height: 200px;
        margin-left: 60px;
    }
    .GYtxtrD{
        float: right;
        text-align: left;
        line-height: 200px;
        margin-right: 60px;
    }
    .GYZHimg{
        width: 900px;
        border-radius: 10px;
    }
    .GYZHtxt{
        font-size: 18px;
        font-weight: normal;
        color: grey;
    }
    .GYgdzgD{
        height: 620px;
        margin: 0 auto;
    }
}
/*页面宽度小于960个像素选择这个样式*/
@media screen and (max-width: 960px){
    /*全局应用字体样式*/
    *{
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-style: normal;
        color: black;
        font-family: "方正粗圆","Arial", "Microsoft YaHei", "黑体","宋体",sans-serif;
    }
    /*给body换个色*/
    body{
        cursor: url(../Mouse/Arrow.png),auto;
        background-color: rgb(255, 255, 255);
    }
    a{
        cursor: url(../Mouse/Hand.png),auto;
    }
    .head{
        width: 300px;
        height: auto;
        margin: 0 auto;
        text-align: center;
        line-height: 30px;
        margin-top: 60px;
    }
    .tx{
        background: url(../img/tx.jpg);
        border-radius: 90px;
        width: 60px;
    }
    .head span{
        font-size: 18px;
        font-weight: normal;
        text-align: center;
    }
    .tittt{
        font-weight: normal;
        text-align: center;
        color: black;
    }
    .line{
        font-weight: normal;
        border-bottom: 2px solid orange;
        text-align: center;
        color: black;
    }
    .time{
        margin-top: 30px;
        text-align: center;
        line-height: 35px;
    }
    .timetxt{
        text-align: center;
        color: black;
    }
    .time span{
        font-size: 13px;
        font-weight: normal;
        text-align: center;
    }
    .oneY{
        text-align: right;
        color: black;
        display: block;
    }
    .DH{
        padding-top: 30px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .DHF{
        padding-top: 10%;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .DHfive{
        margin: 0 auto;
    }
    .DH ul{
        list-style: none;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
    }
    .DH ul li{
        width: 15%;
        display: inline-block;
        text-align: center;
    }
    .DHF ul{
        list-style: none;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
    }
    .DHF ul li{
        width: 15%;
        display: inline-block;
        text-align: center;
    }
    .A1{
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 5px 0px;
        color:orange;
        text-decoration: none;
        border-bottom: 3px solid orange;
        font-weight: normal;
        font-size: 14px;
    }
    .A2{
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 5px 0px;
        color: black;
        font-size: 14px;
        text-decoration: none;
        border-bottom: 3px solid black;
        font-weight: normal;    
    }
    .A2:hover{
        border-bottom: 3px solid rgb(57, 192, 255);
        color: rgb(57, 192, 255);
    }
    .body{
        width: 350px;
        height: auto;
        margin: 0 auto;
        margin-top: 60px;
    }
    .bodyTOfive{
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
    }
    .bodyhead{
        width: 306px;
        height: 76px;
        margin: 10px auto 30px;
        background-color: rgb(245, 245, 245);
        border-radius: 5px;
        position: relative;
        display: block;
    }
    .bodyheaimg{
        position: absolute;
        right: 0;
        top: 0;
    }
    .bodyheaimg img{
        height: 76px;
        border-radius:0 5px 5px 0;
    }
    .bodyheaimg div{
        width: 76px;
        height: 76px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius:0 5px 5px 0;
        background: -webkit-linear-gradient(left,rgb(245, 245, 245),rgba(245, 245, 245, 0));
        background: -o-linear-gradient(right,rgb(245, 245, 245),rgba(245, 245, 245, 0));
        background: -moz-linear-gradient(right,rgb(245, 245, 245),rgba(245, 245, 245, 0));
        background: linear-gradient(to right,rgb(245, 245, 245),rgba(245, 245, 245, 0));
    }
    .bodyheadtxt{
        display: inline-block;
        line-height: 33px;
        position: absolute;
        left: -40px;
        top: -12px;
        width: 100%;
        transform: scale(0.7);
    }
    .bodyheadtxt p{
        font-size: 12px;
    }
    .bodyheadtxt span{
        font-size: 12px;
        display: block;
    }
    .bodyheadtxtfive{
        float: right;
        text-align: right;
    }
    .bodytxt{
        background-color: rgba(255, 255, 255);
        width: 350px;
        height: auto;
        border-radius: 10px;
        padding: 10px;
        display: inline-block;
        box-sizing: border-box;
        border: 2px solid orange;
        margin: auto;
    }
    .bodytxtTOp{
        font-size: 18px;
        font-weight: normal;
        text-align: center;
        color: black;
    }
    .player{
        width: 75%;
        height: auto;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        display: block;
        margin: 0 auto;
        padding-bottom: 20px;
        border: 2px solid orange;
    }			
    .voice{
        text-align:center;
        margin-top: 20px;
    }
    .music{
        text-align:center;
    }
    .syis{
        width: 50px; 
        height: 50px;
        border-radius: 90px;
        border: none;
    }
    .BF{
        width: 50px; 
        height: 50px;
        border-radius: 90px;
        border: none;
    }
    .xyis{
        width: 50px; 
        height: 50px;
        border-radius: 90px;
        border: none;
    }
    .buttons button img{
        width: 50px;
        height: auto;
    }
    .buttons{
        margin: 0 auto;
    }
    .musicName{
        font-size: 20px;
        font-weight: normal;
        margin-top: 20px;
    }
    .IndexTOp{
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        color: rgb(0, 0, 0);
    }
    .IndexTOpfor2{
        font-size: 10px;
        font-weight: normal;
        text-align: center;
        color: rgb(0, 0, 0);
    }
    .IndexTOdiv{
        display: inline;
        text-align: center;
        margin: 5px;
    }
    .Indexbodytxt{
        background-color: rgba(255,255, 255, 0.5);
        width: 100%;
        height: auto;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        box-sizing: border-box;
        border: 2px solid orange;
    }
    .musicCD{
        margin-top: 20px;
        width: 65px;
        height: auto;
    }
    .musicButton{
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }
    .musicVolume{
        margin-top: 12px;
        margin-bottom: 15px;
    }
    .musicTitle{
        font-family: "Arial", "Microsoft YaHei", "黑体","宋体",sans-serif;
        color: rgb(0, 0, 0);
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .calendar{
        width: 75%;
        height: 280px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        padding-top: 20px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.1);
        border: 2px solid orange;
        margin: 10px auto;
    }
    .TOOLSDIV{
        margin-top: 30px;
        width: 350px;
        height: 340px;
    }
    
    .body-list ul{
        width:220px;
        font-family:arial;
        font-weight:normal;
        font-size:12px;
    }
    .body-list ul li{
        width:31px;
        height:36px;
        line-height:36px;
        list-style-type:none;
        display:block;
        box-sizing:border-box;
        float:left;
        text-align:center;
    }
    .lightgrey{
        color:#a8a8a8;
    }
    .darkgrey{
        color:#565656;
    }
    .orange{
        color: orange;
    }
    .title h1{
        font-size: 26px;
        color: orange;
    }
    .title h2{
        font-size: 20px;
        color: orange;
    }
    .orangebox{
        border:1px solid orange;
        background:#fff6de;
    }
    .calendarDays{
        width: auto;
        height: auto;
    }
    .tail{
        width: 100%;
        height: 50px;
        margin-top: 300px;
        background-color: rgba(255, 255, 255, 0.5);
        text-align: center;
        border-top: 5px solid orange;
        position: relative;
        bottom: 0;
        z-index: -2;
    }
    .tailf{
        margin-top: 50px;
        width: 100%;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.5);
        text-align: center;
        border-top: 5px solid orange;
        position: relative;
        bottom: 0;
        z-index: -2;
    }
    .tailImgR{
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    .tailImgL{
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    .DLtxt{
        font-weight: normal;
        font-size: 8px;
        color: black;
    }
    .DLNet{
        font-weight: normal;
        font-size: 7px;
        color: black;
        line-height: 32px;
    }
    .GHJCImg{
        width: 70px;
        height: 70px;
        float: left;
        border: 2px solid rgb(124, 124, 124);
        border-radius: 15px;
        margin-right: 5px;
    }
    .GHJCTITLE{
        font-weight: normal;
        font-size: 10px;
        color: black;
        text-decoration: none;
    }
    .GHJCTITLEPE{
        width: 306px;
        height: 99px;
        border-radius: 15px;
        display: inline-block;
        position: absolute;
        right: -11px;
        bottom: -12px;
    }
    .GHJCTITLEPE:hover{
        background-color: rgba(119, 119, 119, 0.123);
    }
    .GHJCPN{
        width: 40px;
        height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 5px;
        line-height: 250%;
        position: relative;
        margin-right: 20px;
    }
    .GHJCPNin{
        width: 40px;
        height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 5px;
        line-height: 250%;
        position: relative;
        margin-right: 20px;
    }
    .GHJCPN a{
        display: block;
        font-size: 20px;
        width: 40px;
        height: 40px;
        text-decoration: none;
        border-radius: 5px;
        color: rgb(255, 255, 255);
        background-color: orange;
    }
    .GHJCPNin a{
        display: block;
        font-size: 20px;
        width: 40px;
        height: 40px;
        text-decoration: none;
        border-radius: 5px;
        color: rgb(255, 255, 255);
        background-color: orange;
    }
    .GHJCPNline{
        width: 20px;
        height: 5px;
        position: absolute;
        top: 0;
        left: 10px;
        border-radius: 25px;
        background-color: rgb(255, 207, 118);
    }
    .GHJCPN a:hover{
        background-color: rgb(57, 192, 255);

    }
    .GHJCPND{
        text-align: center;
        width: auto;
        margin: 20px auto 0;
    }
    .GHJCTXT{
        font-weight: normal;
        font-size: 8px;
        color: black;
    }
    .GHJCTEXT{
        width: auto;
        height: auto;
        margin: 10px;
        padding: 10px;
        border: 2px solid black;
        border-radius: 15px;
    }
    .ghjcttletxt{
        padding-top: 10px;
        line-height: 32px;
        position: relative;
    }
    .headbaxkground{
        display: block;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
    }
    .headbaxkground canvas{
        height: 120%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
    }
    .hboxD{
        margin: auto;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 25%;
    }
    .headbaxkgroundtit{
        display: block;
        font-size: 20px;
        color: white;
        text-align: center;
        z-index: 2;
        font-family: 'Sweel';
    }
    .headbaxkgroundp{
        display: block;
        font-size: 12px;
        color: white;
        text-align: center;
        z-index: 2;
        font-family: 'AW';
        transform: scale(0.35);
    }
    @media screen and (min-width:460px) and (max-width:600px) {
        .headbaxkgroundtit{
            display: block;
            font-size: 30px;
            color: white;
            text-align: center;
            z-index: 2;
            font-family: 'Sweel';
        }
        .headbaxkgroundp{
            display: block;
            font-size: 12px;
            color: white;
            text-align: center;
            z-index: 2;
            font-family: 'AW';
            transform: scale(0.5);
        }
    }
    @media screen and (min-width:560px) and (max-width:660px) {
        .headbaxkgroundtit{
            display: block;
            font-size: 40px;
            color: white;
            text-align: center;
            z-index: 2;
            font-family: 'Sweel';
        }
        .headbaxkgroundp{
            display: block;
            font-size: 12px;
            color: white;
            text-align: center;
            z-index: 2;
            font-family: 'AW';
            transform: scale(0.65);
        }
    }
    @media screen and (min-width:660px) and (max-width:760px) {
        .headbaxkgroundtit{
            display: block;
            font-size: 50px;
            color: white;
            text-align: center;
            z-index: 2;
            font-family: 'Sweel';
        }
        .headbaxkgroundp{
            display: block;
            font-size: 12px;
            color: white;
            text-align: center;
            z-index: 2;
            font-family: 'AW';
            transform: scale(0.8);
        }
    }
    @media screen and (min-width:760px) and (max-width:860px) {
        .headbaxkgroundtit{
            display: block;
            font-size: 60px;
            color: white;
            text-align: center;
            z-index: 2;
            font-family: 'Sweel';
        }
        .headbaxkgroundp{
            display: block;
            font-size: 12px;
            color: white;
            text-align: center;
            z-index: 2;
            font-family: 'AW';
            transform: scale(0.95);
        }
    }
    @media screen and (min-width:860px) and (max-width:960px) {
        .headbaxkgroundtit{
            display: block;
            font-size: 70px;
            color: white;
            text-align: center;
            z-index: 2;
            font-family: 'Sweel';
        }
        .headbaxkgroundp{
            display: block;
            font-size: 12px;
            color: white;
            text-align: center;
            z-index: 2;
            font-family: 'AW';
            transform: scale(1.1);
        }
    }
    .headboxst{
        position: absolute;
        bottom: -19%;
        height: 15px;
        width: 100%;
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0),black);
        background: -moz-linear-gradient(rgba(0, 0, 0, 0),black);
        background: -o-linear-gradient(rgba(0, 0, 0, 0),black);
        background: linear-gradient(rgba(0, 0, 0, 0),black);
        z-index: 2;
    }
    .DGR{
        float: right;
        width: 30%;
    }
    .DGL{
        position: relative;
        left: 0;
        top: 0;
        width: 30%;
    }
    .hk416gif{
        display: none;
    }
    .gamesuiGIF{
        display: none;
    }
    .G11andLiGIF{
        display: none;
    }
    .RJTJlookher{
        font-size: 8px;
        line-height: 14px;
        margin-left: 35px;
        padding-right: 30px;
        margin-top: 20px;
    }
    .RJTJlookher img{
        width: 10px;
        display: inline-block;
        vertical-align: middle;
    }
    .RJTJlookherinput{
        font-size: 6px;
        width: 25px;
        height: 10px;
        border-radius: 0 2px 2px 0;
        text-align: center;
        background-color: rgb(240, 240, 240);
        border-left: 3px solid rgb(0, 255, 0);
        border-bottom: none;
        border-right: none;
        border-top: none;
    }
    .RJTJlookherinputNULL{
        font-size: 6px;
        width: 25px;
        height: 10px;
        border-radius: 0 2px 2px 0;
        text-align: center;
        background-color: rgb(240, 240, 240);
        border-left: 3px solid rgb(255, 0, 0);
        border-bottom: none;
        border-right: none;
        border-top: none;
    }
    .RJTJimg{
        width: 100px;
        float: left;
        margin-right: 20px;
        border-radius: 25px;
        border: 2px solid black;
    }
    .RJTJtitle{
        font-size: 16px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .RJTJtxt{
        font-weight: normal;
        font-size: 12px;
        text-indent: 2em;
        color: black;
        line-height: 22px;
    }
    .RJTJTXTD{
        line-height: 15px;
    }
    .RJTJTEXT{
        padding: 10px;
        border: 2px solid black;
        margin: 30px;
        height: 300px;
        border-radius: 15px;
        position: relative;
    
    }
    .RJTJa{
        font-weight: normal;
        font-size: 30px;
        text-decoration: none;
        color: rgb(16, 196, 0);
        margin-right: 40px;
    }
    .RJTJa:hover{
        color: orange;
    }
    .RJTJminidox{
        width: 25px;
        position: relative;
        top: 8px;
        left: 0;
        margin-right: 17px;
    }
    .RJTJinput{
        width: 65px;
        height: 18px;
        border-radius: 0 2px 2px 0;
        text-align: center;
        margin-right: 58px;
        margin-top: 10px;
        background-color: rgb(240, 240, 240);
        border-left: 5px solid rgb(0, 255, 0);
        border-bottom: none;
        border-right: none;
        border-top: none;
    }
    .RJTJinputNULL{
        width: 65px;
        height: 18px;
        border-radius: 0 2px 2px 0;
        text-align: center;
        margin-right: 58px;
        margin-top: 10px;
        background-color: rgb(240, 240, 240);
        border-left: 5px solid rgb(255, 0, 0);
        border-bottom: none;
        border-right: none;
        border-top: none;
    }
    .RJTJhttps{
        width: auto;
        height: auto;
        position: absolute;
        right: 0px;
        bottom: -12px;
        margin-bottom: 30px;
    }
    .CYWZimg1{
        width: 294px;
        height: 98px;
        border-radius: 10px;
        background: url(../img/bigjpg.png);
        margin: 0 auto;
        border: 2px solid black;
        margin-bottom: 75px;
        background-size: cover;
        margin-top: 20px;
    }
    .CYWZimg2{
        width: 294px;
        height: 98px;
        border-radius: 10px;
        background: url(../img/bilibli.png);
        margin: 0 auto;
        border: 2px solid black;
        margin-bottom: 75px;
        background-size: cover;
        margin-top: 20px;
    }
    .CYWZimg3{
        width: 294px;
        height: 98px;
        border-radius: 10px;
        background: url(../img/kuan.png);
        margin: 0 auto;
        border: 2px solid black;
        margin-bottom: 75px;
        background-size: cover;
        margin-top: 20px;
    }
    .CYWZimg4{
        width: 294px;
        height: 98px;
        border-radius: 10px;
        background: url(../img/cainiao.png);
        margin: 0 auto;
        border: 2px solid black;
        margin-bottom: 75px;
        background-size: cover;
        margin-top: 20px;
    }
    .CYWZimg5{
        width: 294px;
        height: 98px;
        border-radius: 10px;
        background: url(../img/cndn.png);
        margin: 0 auto;
        border: 2px solid black;
        margin-bottom: 75px;
        background-size: cover;
        margin-top: 20px;
    }
    .CYWZimg6{
        width: 294px;
        height: 98px;
        border-radius: 10px;
        background: url(../img/github.png);
        margin: 0 auto;
        border: 2px solid black;
        background-size: cover;
        margin-top: 20px;        
        margin-bottom: 25px;
    }
    .CYWZimg7{
        width: 294px;
        height: 98px;
        border-radius: 10px;
        background: url(../img/gitee.png);
        margin: 0 auto;
        border: 2px solid black;
        background-size: cover;
        margin-top: 20px;
        margin-bottom: 75px;
    }
    .CYWZimg8{
        width: 294px;
        height: 98px;
        border-radius: 10px;
        background: url(../img/transfonter.png);
        margin: 0 auto;
        border: 2px solid black;
        background-size: cover;
        margin-top: 20px;
        margin-bottom: 75px;
    }
    .CYWZimg9{
        width: 294px;
        height: 98px;
        border-radius: 10px;
        background: url(../img/wormhole.png);
        margin: 0 auto;
        border: 2px solid black;
        background-size: cover;
        margin-top: 20px;
        margin-bottom: 75px;
    }
    .CYWZimg10{
        width: 294px;
        height: 98px;
        border-radius: 10px;
        background: url(../img/removebg.png);
        margin: 0 auto;
        border: 2px solid black;
        background-size: cover;
        margin-top: 20px;
        margin-bottom: 75px;
    }
    .CYWZimg11{
        width: 294px;
        height: 98px;
        border-radius: 10px;
        background: url(../img/photopea.png);
        margin: 0 auto;
        border: 2px solid black;
        background-size: cover;
        margin-top: 20px;
        margin-bottom: 75px;
    }
    .CYWZimg12{
        width: 294px;
        height: 98px;
        border-radius: 10px;
        background: url(../img/ensan.png);
        margin: 0 auto;
        border: 2px solid black;
        background-size: cover;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .CYWZtext{
        background: rgba(255, 255, 255, 0.85) ;
        margin: 0 auto;
        border-radius: 10px;
        height: 60px;
        width: 294px;
        margin-top: 38px;
    }
    .CYWZtxt{
        color: black;
        font-size: 15px;
        font-weight: normal;
        text-align: center;
        position: relative;
        top: -5px;
    }
    .CYWZTXTDIV{
        position: relative;
        padding: 10px;
    }
    .CYWZtxtt{
        color: black;
        font-size: 12px;
        font-weight: normal;
        text-indent: 2em;
        position: relative;
        bottom: 40px;
    }
    .CYWZA{
        position: absolute;
        right: 0px;
        bottom: 200px;
        display: none;
    }
    .CYWZApeD{
        margin: 0 auto;
        width: auto;
        height: auto;
        position: absolute;
        left: 0;
        top: -38px;
    }
    .CYWZApe{
        width: 294px;
        height: 98px;
        display: block;
    }
    .CYWZApe:hover{
        background-color: rgba(119, 119, 119, 0.123);
    }
    .CYWZA a{
        font-weight: normal;
        font-size: 46px;
        text-decoration: none;
        color: orange;
    }
    .CYWZA a:hover{
        color: rgb(57, 192, 255);
    }
    .ZD{
        float: right;
        position: fixed;
        right: 30px;
        bottom: 20%;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        opacity: 0;
        z-index: 95;
        border-radius: 5px;
        width: 50px;
        height: 76.92px;
        cursor: url(../Mouse/UpArrow.png),auto;
    }
    .ZD a img{
        width: 50px;
        z-index: 98;
    }
    /*这两个是动画*/
    @keyframes ani1{
        0%{
            opacity: 1;
            transform:rotateX(-90deg);
        }
        50%{transform:rotateX(25deg);}
        100%{
             opacity: 1;
            transform:rotateX(0deg);
            }
    }
    @keyframes ani2{
        0%{
            opacity: 1;
            transform:rotateX(-20deg);
        }
        100%{
             opacity: 0;
            transform: skewX(0deg);
            }
    }
    .ZD a{
        cursor: url(../Mouse/UpArrow.png),auto;
        padding: 5px 0px 0px 5px;
        width: 100%;
        height: 100%;
        color: white;
        text-decoration: none;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .ZD a:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }
    .YXTJlookher{
        font-size: 8px;
        line-height: 14px;
        margin-left: 35px;
        padding-right: 30px;
        margin-top: 20px;
    }
    .YXTJTEXT{
        border-radius: 10px;
        margin: 0 auto;
        width: 298px;
        height: auto;
        margin-bottom: 40px;
    }
    .YXTJTEXTbt{
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .YXTJimg1{
        width: 294px;
        height: 98px;
        border-radius: 10px;
        background-image: url(../img/qj2.png);
        margin: 0 auto;
        margin-top: 20px;
        background-size: cover;
    }
    .YXTJimg2{
        width: 294px;
        height: 98px;
        border-radius: 10px;
        background-image: url(../img/l4d2.png);
        margin: 0 auto;
        margin-top: 20px;
        background-size: cover;
    }
    .YXTJimg3{
        width: 294px;
        height: 98px;
        border-radius: 10px;
        background-image: url(../img/TLRY.png);
        margin: 0 auto;
        margin-top: 20px;
        background-size: cover;
    }
    .YXTJimg4{
        width: 294px;
        height: 98px;
        border-radius: 10px;
        background-image: url(../img/DYING\ LIGHT.png);
        margin: 0 auto;
        margin-top: 20px;
        background-size: cover;
    }
    .YXTJimg5{
        width: 294px;
        height: 98px;
        border-radius: 10px;
        background-image: url(../img/GTAV.png);
        margin: 0 auto;
        margin-top: 20px;
        background-size: cover;
    }
    .YXTJimg6{
        width: 294px;
        height: 98px;
        border-radius: 10px;
        background-image: url(../img/wzzd3.png);
        margin: 0 auto;
        margin-top: 20px;
        background-size: cover;
    }
    .YXTJtxtD{
        background: rgba(255, 255, 255, 0.7) ;
        margin: 0 auto;
        border-radius: 10px;
        width: 294px;
        height: auto;
    }
    .YXTJtitleD{
        margin: 0 auto;
        border-radius: 10px;
        width: 294px;
        position: relative;
        bottom: -5px;
        left: 0;
    }
    .YXTJtitle{
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        color: black;
        line-height: 38px;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 10px;
        width: auto;

    }
    .YXTJline{
        border: 2px solid orange;
        width: 294px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        margin: 0 auto;
        display: none;
    }
    .YXTJtxt{
        text-indent: 2em;
        font-size: 12px;
        font-weight: normal;
        color: black;
        padding: 5px;
    }
    .YXTJtxtfive{
        margin-top: 10px;
        display: block;
    }
    .GYgifD{
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
    }
    .GYgif{
        border-radius: 15px;
        border: 2px solid black;
        width: 350px;
    }
    .GYbodyTOfive{
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
    }
    .GYyedeLY{
        margin: 30px auto 20px;
        position: relative;
    }
    .GYtxtH1{
        font-weight: normal;
        font-size: 20px;
        width: 160px;
        height: 20px;
        text-align: center;
        color: black;
        display: block;
        position: absolute;
        margin: 0 auto 0;
        top: -8px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        line-height: 20px;
        font-family: 'AW';
        font-weight: bolder;
    }
    .GYtxtH2{
        border: 2px solid black;
        font-weight: normal;
        font-size: 12px;
        color: black;
        text-align: left;
        z-index: -1;
        padding: 30px 10px 10px 10px;
    }
    .GYTEXT{
        line-height: 36px;
    }
    .GYimg1{
        border-radius: 25px;
    }
    .GYtxtbz{
        font-size: 20px;
        color: black;
        font-weight: normal;
        text-align: center;
    }
    .GYimgYEDiv{
        margin-top: 100px;
        text-align: center;
    }
    .GYswsanbai{
        width: 100%;
        margin: 0 auto;
        height: 700px;
    }
    .GYmeull{
        width: 300px;
        height: 35px;
        background-color: rgb(240, 240, 240);
        font-size: 12px;
        font-weight: normal;
        color: black;
        border: none;
        border-left: 5px solid rgb(0, 255, 0);
        border-radius: 0 10px 10px 0;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .GYemmeD{
        margin-top: 30px;
        text-align: center;
        width: 305px;
        margin-left: 10px;
    }
    .GYgif2{
        width: 305px;
        border-radius: 10px;
        text-align: center;
        margin-top: 10px;
    }
    .GYgdzgsp1{
        font-weight: normal;
        font-size: 20px;
        color: black;
    }
    .GYtxtlD{
        text-align: center;
        line-height: 50px;
    }
    .GYtxtrD{
        text-align: center;
        line-height: 50px;
    }
    .GYZHimg{
        width: 300px;
        border-radius: 10px;
    }
    .GYZHtxt{
        font-size: 18px;
        font-weight: normal;
        color: grey;
    }
    .GYgdzgD{
        height: auto;
        margin: 200px auto 40px;
    }
}
/*我不可能把这2000多行全做注释吧，会死的，真的会死的*/