@font-face {
    font-family: "sweel";
    src: url("sweel.eot"); /* IE9 */
    src: url("sweel.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("sweel.woff") format("woff"), /* chrome、firefox */
    url("sweel.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("sweel.svg#sweel") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


